# print("Hello")
print("Hello")
print("Hello")

In [6]:
    print("Hello")
    print("Hello")
    print("Hello")

Hello
Hello
Hello

In [5]:
print("hello")
print("hello")

hello
hello

In [7]:
num1=5
num2=10
num3=15
print(num1+num2+num3)

30

In [8]:
num3=num2+num1
print(num3)

15

In [9]:
print(num1,num2,num3)

5 10 15

In [10]:
num1="5"
num2="10"
num3="15"
print(num1+num2+num3) #here value given to num1,2,3 are string

51015

In [10]:
x="hello"
y="softroniics"
print(x,y)

hello softroniics

In [11]:
x,y,z=1.1,2,"hello"
print(x,y,z)

1.1 2 hello

In [13]:
x=y=z="hello"
print(x,y,z)

hello hello hello

# comments in python

in soft

In [14]:
# this is a single-line comment
print("hello")

hello

In [15]:
# this is a multi-line comment
# or a docstring.
# it provides

In [17]:
"""
this is a multi-line
or a
it provides
class
"""
print("hi")

hi

# 23/01/2024

In [1]:
x=5
y="5"
print(x,y)

5 5

In [2]:
x=5
y="hello"
z=[1,2,3]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

# Type conversion or type casting

In [11]:
num_str="42"
print(type(num_str))

num_int=int(num_str) # Using int() to convert num_str to an integer 42 (here str is coverted to int)
print(type(num_int))
print("converted int;",num_int) #output converted into interger 42

<class 'str'>
<class 'int'>
converted int; 42

In [6]:
num_str="3.14"
print(type(num_str))  

num_float =float(num_str)  # num_floot will be a floot 3.14
print(type(num_float))

<class 'str'>
<class 'float'>

## Python user-input

In [2]:
username=input("enter username; ") #input operation means ,when we run program there will be box apperaing to input the required data by the user

print ("hello", username)

enter username; Adarsh
hello Adarsh

In [1]:
x=input("enter the first number : ")
y=input("enter the second number: ")

print("the addition result is :", x+y) # input operator automatically taken as a string by the python

enter the first number : 5
enter the second number: 6
the addition result is : 56

In [5]:
x=float(input("enter the first number : "))  #float means decimal no.
y=int(input("enter the second number: "))

print("the addition result is :", x+y)

enter the first number : 5
enter the second number: 6
the addition result is : 11.0

In [13]:
a="if we want to print a inform otheres some quotes,and it should be in multiplie lines we can use three inverted comma,othere wise it will be printed in a single line itself like the result of this "
print(a)

if we want to print a inform otheres some quotes,and it should be in multiplie lines we can use three inverted comma,othere wise it will be printed in a single line itself like the result of this

In [11]:
a="""this is a example of mutli lined
matter written,
by using three inverted comma
ut labore et dolore magna aliqua."""

print(a)

this is a example of mutli lined
matter written,
by using three inverted comma
ut labore et dolore magna aliqua.

#  string length

In [21]:
my_string='hello, world!' # space and comma is also included 
length=len(my_string)
print(length)

13

# string indexing

In [18]:
my_string='hello' #python text character position starting with 0,eg;in this h=0,e=1,l=2,l=3,o=4 are position of the text
first_char= my_string[4]
print(first_char)

o

In [2]:
# negative indices
my_string="hello, world!" #in negative indices it assign the -1 itself frome back
last_char=my_string[-1]
second_last_char=my_string[-2]
print(last_char,second_last_char)

! d

# string slicing

### string[start:end:step]

In [16]:
# inclusive start, exclusive end
my_string="hello, world!"
sliced_string=my_string[7:10]
print(sliced_string)

wor

In [20]:
# omitted indices
my_string="hello, world!"
start_omitted=my_string[:5]
end_omitted=my_string[7:]
print(start_omitted,end_omitted)

hello world!

In [26]:
# step size
my_string="hello, world!"
every_second_char=my_string[0:5:2]
print(every_second_char)

hlo

In [23]:
# Reversing a string
my_string="hello, world!"
reversed_string1=my_string[::-1]
reversed_string2=my_string[::-2]
print(reversed_string1)
print(reversed_string2)

!dlrow ,olleh
!lo olh

# string concatination

In [23]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [24]:
c=a+" "+b
print(c)

hello world

In [25]:
c=a+" "+b+('!'*20)
print(c)

hello world!!!!!!!!!!!!!!!!!!!!

# string method

In [3]:
s1="hello"
print(s1.upper()) # converted to uppercase

HELLO

In [27]:
s2="HELLO"
print(s2.lower())  # converted to lowercase

hello

In [28]:
s3=" Hello, World!  "
print(s3)
print(s3.strip())  # removes leading and trailing whitespace from a string

 Hello, World!
Hello, World!

In [32]:
alpha_check="hello".isalpha() # return True if all the characters in the string are alphabetic
print(alpha_check)

digit_check="123".isdigit() #return TRue if all the characters in string are numeric,or alphanumeric
print(digit_check)

alnum_check="Hello123".isalnum()  # return TRUE if all the characters in the string are alphanumeric
print(alnum_check)

True
True
True

In [48]:
my_string="apple,banana, cherry"
fruits= my_string.split(",") # divides a string into a list of substrings based on a specified separator.
print(fruits)

fruits1= my_string.split("a")
print(fruits1)

joined_string= " ".join(fruits) # concatenates the elements of an iterable into a single string,using the string as a separator.
print(joined_string)

joined_string= "+".join(fruits) 
print(joined_string)

['apple', 'banana', ' cherry']
['', 'pple,b', 'n', 'n', ', cherry']
apple banana  cherry
apple+banana+ cherry

In [38]:
my_string="hello, world!"
new_string=my_string.replace("hello","hi") # returns a new string where occurrences of old are replace with new.
print(new_string)

hi, world!

# 27/01/2024

# String Formatting

In [14]:
name=" alice "
age=25
s="my name is" + name + "and i am" ,age , "years old"
print (s)

#it is difficult to write like this so othere ways are as follow;

formatted_string="my name is %s and i am %d years old." %(name,age)
print(formatted_string)

('my name is alice and i am', 25, 'years old')
my name is  alice  and i am 25 years old.

In [7]:
name="bob"
age=25
formatted_string=f"my name is {name} and i am {age} years old." #f means format
print(formatted_string)

my name is bob and i am 25 years old.

In [18]:
name="charlie"
age=35
formatted_string="My name is {} and i am {} years old.".format(name,age)
print(formatted_string)

My name is charlie and i am 35 years old.

In [15]:
pi = 3.141592635359
formatted_pi="the value of pi is approximately:{:0.2f}".format(pi) #here 0.2f functions as, after decimal 2 place numbers will be visible. if it is 0.3f three will be visible like etc.
print(formatted_pi)

the value of pi is approximately:3.14

# Arithamatic Operators

In [3]:
x = 10
y = 5

addition= x+y
subtraction= x-y
multiplication=x*y
division= x/y # divides the left operand by the right operand (result is always a float).

modulus= x % y # returns the remainder of the division.
exponentiation = x**y #raises the left operand to the power of the right operand.
floor_division=x//y # Performs division and rounds the down to the nearest whole number.

print("additon : ",addition)
print("subtraction: ",subtraction)
print("multiplication: ",multiplication)
print("division: ",division)
print("modulus:" ,modulus)
print("exponentiation: ",exponentiation)
print("floor_division: ",floor_division)

additon :  15
subtraction:  5
multiplication:  50
division:  2.0
modulus: 0
exponentiation:  100000
floor_division:  2

# Comparison Operators

In [23]:
x=10
y=5

is_equal= x==y
not_equal= x!=y
greater_than= x>y
less_than= x<y
greater_or_equal= x>=y
less_or_equal= x<=y
print(is_equal,not_equal,greater_than,less_than,greater_or_equal,less_or_equal)

False True True False True False

# Logical opertors

In [22]:
x=5
print(x>3 and x<10) #returns true because 5 is greater than 3 and 5 is less than 10
print(x>3 or X<4)  #returns true because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)
print(not(x>3 and x<10))  # returns false because not is used to reverse the result

True
True
False

# Assignment Operators

In [4]:
x= 10 # x is assigned the value 10

# Add and Assign
x += 5  # Equivalent to x = x+5, x is now 15
print(x)

# Subtract and assign
x -= 3 #Equivalent to x = x-3, x is now 12
print(x)

# Multiply and assign
x *= 2 # Equivalent to x = x*2, x is now 24
print(x)

# Divide and assign
x/=4 # Equivalent to x = x/4, x is now 6.0
print(x)

15
12
24
6.0

# Identity Operators

In [28]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x

print(x is z)  #returns true because z is the same object as x

print(x is y)   #returns False because x is not the same object as y , even if they have the same content

print(x==y)  #to demonstrate the difference between "is" and "==": this comparison returns true because x is equal to y

print(x is not z)  # returns False beacuse z is the same object as x

print(x is not y)  #returns True because x is not the same object as y, even if they have the same content

print(x != y) # to demonstrate the difference between "is not" and "!=": this comparison returns Fals because x  is equal to y

True
False
True
False
True
False

# 29/01/2024

# Membership Operators

In [3]:
x=["apple","banana"]
print("banana" in x) # returns True because a sequence with the value "banana" is in the list

True

In [4]:
x=["apple","banana"]
print("pineapple" not in x) # returns True because a sequence with the value "pineapple" is not the list

True

# Access List Items

In [7]:
numbers =[1,2,3,4,5,6,7,8,9,10]

first_element=numbers[0]
second_element=numbers[1]
last_element=numbers[-1]

print(first_element)
print(second_element)
print(last_element)

1
2
10

In [8]:
print(numbers[2:5])

[3, 4, 5]

In [9]:
print(len(numbers))

10

# Adding elements

In [10]:
# append: Adds an element to the end of the list
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [11]:
# insert: Adds an element at a specific index
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

# Extending Lists

In [13]:
fruits=["apple","banana"]
more_fruits=["cherry","orange"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'orange']

# change item value

In [14]:
fruits=["apple","banana","cherry","banana"]
fruits[1]="melon"

print(fruits)

['apple', 'melon', 'cherry', 'banana']

In [15]:
fruits[1:3]=["pappaya,Kiwi"]
print(fruits)

['apple', 'pappaya,Kiwi', 'banana']

# Removing Elements

In [16]:
fruits=["apple","banana","cherry","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [17]:
fruits=["apple","banana","cherry","mango"]
removed_fruit=fruits.pop()
print(fruits)

['apple', 'banana', 'cherry']

In [18]:
fruits=["apple","banana","cherry"]
fruits.clear()
print(fruits)

[]

In [19]:
mylist=["apple","banana","cherry"]
del mylist[0]
print(mylist)

['banana', 'cherry']

# Copying Lists

In [20]:
fruits=["apple","banana","cherry"]
copy_fruits=fruits.copy()  # copy_fruits is a separate copy of fruits
# or
copy_fruits=fruits[:] #Another way to create a copy of the list

In [1]:
fruits=["apple","banana","cherry"]
print(fruits)
# x=fruits #here if we give x= fruits then if we print (x) and print(fruits) the results will be same so to keep fruits unchanged do the below methode.
# print(x)
# x[0]=89
# print(x)
# print(fruits)

y=fruits.copy() #here we copyed the list so even if make change in copy it will not make change in orginal .
print(y)
y[1]=100
print(y)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 100, 'cherry']
['apple', 'banana', 'cherry']

# Reversing a list

In [22]:
numbers =[1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

# Sorting a list

In [23]:
numbers=[5,1,3,2,4]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [24]:
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

# Nested List

In [25]:
nested_list =[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Counting

In [26]:
numbers=[1,2,3,4,2,2,5]
count=numbers.count(2) # returns the number of times a specified value occurs in the list
print(count)

3

# Maximum Minimum Sum

In [27]:
numbers=[1,2,3,4,2,2,5]

print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
1
19

In [2]:
# Write a program to swap first and last elements in a list
mylist=[5,3,9,1,7]
output=[7,3,9,1,5]
# answer
x=mylist[0]
y=mylist[-1]

mylist[0]=y
mylist[-1]=x
#or
mylist[0],mylist[-1]=mylist[-1],mylist[0]
print(mylist)

[5, 3, 9, 1, 7]

# 31/01/2024

# Tuple

In [2]:
# example of a tuple of numbers
numbers=(1,2,3,4,5)

# example of a mixed-type tuple
fruits=("apple","banana","cherry")

# example of a mixed-type tuple
mixed=(1,"hello",3.14,True)

print(numbers)
print(fruits)
print(mixed)

(1, 2, 3, 4, 5)
('apple', 'banana', 'cherry')
(1, 'hello', 3.14, True)

# Accessing Elements

In [3]:
numbers=(1,2,3,4,5)

first_element=numbers[0]
second_element=numbers[1]

print(first_element)
print(second_element)

1
2

# Immutablility of Tuples
#### tuples are immutable,which means you cannot change the values of the elements after the tuple is created.This makes tuples useful for situation where we want to ensure that the data remains constant.

In [4]:
numbers=(1,2,3)
numbers[0]=10

TypeError: 'tuple' object does not support item assignment

# Update Tuples

In [5]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add items

In [6]:
mytuple=("apple","banana","cherry")
y=list(mytuple)
y.append("orange")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [8]:
mytuple=("apple","banana","cherry")
y=("orange",)
mytuple += y

print(mytuple)

('apple', 'banana', 'cherry', 'orange')

# unpacking a tuple

In [9]:
fruits=("apple","banana","cherry")
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
fruits=("apple","banana","cherry","mango","jackfruit","melon","kiwi")
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'mango', 'jackfruit', 'melon']
kiwi

In [12]:
fruits=("apple","banana","cherry","mango","jackfruit","melon","kiwi")
x,y,*z,p=fruits
print(x)
print(y)
print(z)
print(p)

apple
banana
['cherry', 'mango', 'jackfruit', 'melon']
kiwi

# set

# Add items (set denote by { })

In [19]:
x=set()
x.add(6)
x

{6}

In [18]:
set1={"apple","banana","cherry"}
set1.add("orange")
print(set1)

{'banana', 'orange', 'apple', 'cherry'}

In [16]:
set1={"apple","banana","cherry"}
set2={"pineapple","mango","papaya"}

set1.update(set2)

print(set1)

{'banana', 'mango', 'pineapple', 'apple', 'cherry', 'papaya'}

# remove Set items

In [20]:
myset={"apple","banana","cherry"}
myset.remove("banana")
print(myset)

{'apple', 'cherry'}

In [21]:
myset={"apple","banana","cherry"}
myset.discard("banana")
print(myset)

{'apple', 'cherry'}

In [22]:
myset={"apple","banana","cherry"}
myset.pop()
print(myset)

{'apple', 'cherry'}

# set operations

In [23]:
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2) #Returns a new set containing all unique elements from both sets.
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
set1={1,2,3}
set2={3,4,5}
intersection_set=set1.intersection(set2) # Returns a new set containing elements that are present in both sets.
print(intersection_set)

{3}

In [26]:
set1={1,2,3}
set2={3,4,5}
difference_set=set1.difference(set2) # returns a new set containing elements that are present in the first set but not in second set
print(difference_set)

{1, 2}

In [27]:
set1={1,2,3}
set2={3,4,5}
symmetric_difference_set=set1.symmetric_difference(set2) # returns a  new set containing elements that are in either
print(symmetric_difference_set)

{1, 2, 4, 5}